body {
    background-color: #181818;
}

header {
    background-color: #181818;
    padding-left: 20px 0;
}

.caixa-header {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.titulo-header {
    font-family: "Roboto Mono", monospace;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.titulo-header:before {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 48%;
  height: 5px;
  content: '\a0';
  background: rgb(254,28,0);
  background: linear-gradient(90deg, rgba(254,28,0,1) 0%, rgba(255,199,0,1) 25%, rgba(25,177,0,1) 50%, rgba(0,35,255,1) 100%);
  margin-left: 2%;
}

.titulo-header:before {
  margin-left: -50%;
  text-align: right;
}

nav {
    position: absolute;
    top: 105px;
    right: 0;
    
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-family: "Roboto Mono", monospace;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    transition: 10s;
}

nav a:hover {
  animation: animateColors 3s infinite;
  opacity: 1;
}

a:active {
    text-decoration: underline;
}

@keyframes animateColors {
  0% { color: #FE1C00; }
  25% { color: #FFC700}
  50% { color: #19B100; }
  100% { color: #0023FF; }
}

.principal {
    background-color: #181818;
    width: 940px;
    margin: auto;
}

h2 {
    font-family: "Roboto Mono", monospace;
    color: #FFFFFF;
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 100px;
    padding: 10px 0 10px 0;
}

h2:after {
  position: absolute;
  display: inline;
  margin-top: 10px;
  overflow: hidden;
  width: 500px;
  height: 5px;
  content: '\a0';
  background: rgb(254,28,0);
  background: linear-gradient(90deg, rgba(254,28,0,1) 0%, rgba(255,199,0,1) 25%, rgba(25,177,0,1) 50%, rgba(0,35,255,1) 100%);
  margin-left: 20px;
}

.h2:after {
  margin-left: -50%;
}


p {
    font-family: "Roboto Mono", monospace;
    color: #FFFFFF;
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

ul {
    font-family: "Roboto Mono", monospace;
    color: #FFFFFF;
    text-align: left;
    font-size: 20px;
    margin-left: 30px;
}

ul li {
    padding: 10px 0 10px 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    animation: animateColors 3s infinite;
}

a:active {
    text-decoration: underline;
}


footer {
    padding: 90px 0 20px 0;
    text-align: center;
  }
  
  footer img {
    width: 70px;
  }
  
  .texto-footer p {
      background-color: #181818;
      font-family: "Roboto Mono", monospace;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
      margin: 0;
      padding: 0;
  }
  